body {
	font-family: 'Quicksand'
}
.navbar {
	border-radius: 0px
}
.navbar-brand img {
	height: 100%;
	width: 70.188px
}
.headimg {
	height: 94.5px;
	width: 351px
}
.mainhead { 
	height: 100px;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #333;
	font-size: 6rem;
	font-family: 'Open Sans';
}
.mainbod {
	height: 200vh
}
footer {
	bottom: 0;
	width: 100%;
	background-color: #34495e;
	position: relative;
	height: 50vh;
	color: #fff
}