body {
	font-family: 'Open Sans'
}
button, input, textarea {
	outline: none !important
}
.navbar {
	border-radius: 0px
}
.navbar-brand img {
	height: 100%;
	width: 70.188px
}
.headimg {
	height: 94.5px;
	width: 351px
}
.mainhead { 
	height: 100px;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #333;
	font-size: 6rem;
	font-family: 'Open Sans';
}
.mainbod {
	height: 100%;
}
.banner {
	width: 100%;
	height: 50vh;
	position: relative;
	background-image: url(about us/IMG-20171113-WA0017.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smlinks {
	font-size: 5rem !important
}
footer {
	bottom: 0;
	width: 100%;
	background-color: #34495e;
	position: relative;
	height: 50vh;
	color: #fff;
}
b {
	font-weight: 900;
	font-size: 1.8rem
}