body {
	font-family: 'Quicksand'
}
.navbar {
	border-radius: 0px
}
.mainhead { 
	height: 100px;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #333;
	font-size: 6rem;
	font-family: 'Open Sans';
}
.mainbod {
	height: 200vh
}